<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<% if @event.owner == current_user -%>
    <%= link_to 'Edit', edit_event_path(@event) %> |
<% end -%>
|
<%= link_to 'Back', events_path %>

<% if @event.on_facebook? -%>
    <h4>Invited Friends:</h4>
    <ul>
      <% @event.fetch_from_facebook.invited.each do |friend| -%>
          <li>
            <%= image_tag "http://graph.facebook.com/#{friend.identifier}/picture" -%>
            <%= friend.name -%>
          </li>
      <% end -%>
    </ul>
    <h4>Attending:</h4>
    <ul>
      <% @event.fetch_from_facebook.attending.each do |friend| -%>
          <li>
            <%= image_tag "http://graph.facebook.com/#{friend.identifier}/picture" -%>
            <%= friend.name -%>
          </li>
      <% end -%>
    </ul>
<% end -%>
